body {
    background:#111;
    color:white;
    font-family:Arial;
    text-align:center;
}


#galerie {

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));

    gap:20px;

    padding:30px;
}


.photo {

    position:relative;

    overflow:hidden;

    border-radius:15px;

}


.photo img {

    width:100%;

    height:250px;

    object-fit:cover;

    transition:0.4s;

}


.texte {

    position:absolute;

    inset:0;

    background:rgba(0,0,0,0.6);

    display:flex;

    justify-content:center;

    align-items:center;

    opacity:0;

    transition:0.4s;

}


.photo:hover img {

    transform:scale(1.1);

}


.photo:hover .texte {

    opacity:1;

}