* {
    box-sizing: border-box;
}


body {

    margin: 0;

    background: #111;

}


main {

    width: 95%;

    max-width: 1200px;

    margin: 40px auto;

}


/* =========================
   GRANDE PHOTO
========================= */

.image-principale {

    width: 100%;

    height: 600px;

    background: #000;

    border-radius: 15px;

    overflow: hidden;

    display: flex;

    justify-content: center;

    align-items: center;

}


.image-principale img {

    width: 100%;

    height: 100%;

    object-fit: contain;

}


/* =========================
   MINIATURES
========================= */

.miniatures {

    display: flex;

    gap: 12px;

    margin-top: 15px;

    overflow-x: auto;

    padding: 5px;

}


.miniature {

    width: 110px;

    height: 80px;

    object-fit: cover;

    border-radius: 8px;

    cursor: pointer;

    opacity: 0.5;

    border: 3px solid transparent;

    transition: 0.3s;

}


.miniature:hover {

    opacity: 1;

    transform: scale(1.05);

}


.miniature.active {

    opacity: 1;

    border-color: white;

}


/* =========================
   TELEPHONE
========================= */

@media (max-width: 600px) {

    main {

        width: 94%;

        margin: 20px auto;

    }


    .image-principale {

        height: 350px;

    }


    .miniature {

        width: 80px;

        height: 60px;

    }

}